* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;

}

body {
    /* background: rgb(241, 248, 255); */
    background: black;
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}